@font-face {
	font-family: "Cantarell Web";
	font-display: fallback;
	src: url("../font/cantarell_vf.woff2");
}
body, button {
	font-family: "Cantarell", "Cantarell Web", sans-serif;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

div, article {
	cursor: default;
}
a {
	cursor: pointer;
}

.flex-shrink-unset {
	flex-shrink: unset;
}

nav.navbar {
	box-shadow: 0 12px 8px -8px #7f7f7f33;
}
a.navbar-item.is-active {
	background: #7f7f7f20 !important;
}

.fedipost {
	max-width: 900px;
	margin: 0.5em auto;
	animation: 0.2s linear fadeIn;
}
.fedipostcontent a .invisible:nth-child(1) {
	display: none;
}
.fedipostcontent a:not(.mention):after {
	content: '';
	background: url("../img/open.svg");
	margin-left: 4px;
	width: 12px;
	height: 20px;
	display: inline-block;
	vertical-align: text-top;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	filter: hue-rotate(60deg) brightness(75%);
}
.fedipostcw {
	max-width: calc(100% - 20px);
}
.fedipic {
	max-height: 50vh;
}
img.fedipic.multipic {
	max-width: 25vw;
}
.fedivote {
	border: 0 solid;
	border-radius: 4px;
	margin: -4px -8px;
	padding: 4px 8px;
	box-shadow: 0 2px 4px 2px #8883;
}
.fediframe {
	overflow: hidden;
	border: 0px solid;
	border-radius: 4px;
	box-shadow: 0 2px 8px 2px #0003;
	background: #aaaaaa40;
	cursor: zoom-in;
	display: grid;
	margin: 8px;
}
.fedistat > div {
	flex: 1;
	text-align: center;
	padding: 8px;
	transition: background 0.2s;
}
.fedistat > div:hover {
	background: #7f7f7f33;
}
.fedistat img, .fedipost img.darkinvert, .fedipostuser img.darkinvert, .fedivote img.darkinvert {
	vertical-align: text-top;
	height: 20px;
}
.fedipoll {
	margin-left: 0.5em;
}
.fedipostuser .media-right {
	text-align: right;
}
.fedistat span {
	min-width: 2em;
	display: inline-block;
	text-align: center;
}
.fedimoji {
	max-height: 24px;
}
.fedipostuser .fedimoji {
	max-height: 18px;
}
@media (prefers-color-scheme: dark) {
	.darkinvert {
		filter: invert(100%);
	}
	img, video {
		filter: brightness(80%);
	}
	.fedipostcontent a:not(.mention):after {
		filter: hue-rotate(45deg) brightness(75%);
	}
}
[id^='tab-'] {
	padding-top: 4em;
	min-height: calc(100vh - 168px);
	max-width: 1080px !important;
}

#tab-join > div.content {
	padding: 16px;
}
